@model Brans
@{
    Layout = "_LayoutDashboard";
    ViewData["Css"] = "~/css/HastaneRandevuAl.css";
    ViewData["Title"] = "Hastane Randevu";
}

<form asp-controller="Dashboard" asp-action="HastaneRandevuListele" method="post" class="mt-3">
    <div class="mb-3">
        <label asp-for="BransAdi" class="control-label">Bilim Dalı Seç:</label>
        <select asp-for="BransAdi" class="form-control" asp-items="ViewBag.Branslar">
        </select>
    </div>
    
    <div class="mb-3 text-center">
        <input type="submit" value="Randevu Ara" class="btn btn-primary">
    </div>
</form>
