#hastaneResmi {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hosgeldinizMetni, #mottoMetni {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}