#anasayfa {
    background-color: gray;
    height: 600px;
    background-image: url("img/Ishak_Pasha_Palace1454.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hosgeldinizMetni, #mottoMetni {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}