.section {
    margin-bottom: 40px;
}

.hakkimizda {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}

.vizyon,
.misyon {
    background-color: #d2d7d3;
    padding: 20px;
    border-radius: 10px;
}

/* Optional: Add hover effect on sections */
.section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Optional: Add transition effect on hover */
.section {
    transition: box-shadow 0.3s ease;
}
