<a asp-controller="Admin" asp-action="GetDoktorEkle" class="d-flex my-3 align-items-center text-decoration-none rounded rounded-5 bg-info text-white">
    <img class="mx-3" src="~/img/doctor.png" alt="Saü Hastane" width="60px" />
    <div class="py-2">
        <h5>Doktor Ekle</h5>
        <p>Bu bölüm Doktor ekleme işlemleri için kullanılmaktadır</p>
    </div>
</a>

<a asp-controller="Admin" asp-action="GetHastaneEkle" class="d-flex my-3 align-items-center text-decoration-none rounded rounded-5 bg-info text-white">
    <img class="mx-3" src="~/img/hospital.png" alt="Saü Hastane" width="60px" />
    <div class="py-2">
        <h5>Hastane Ekle</h5>
        <p>Bu bölüm Hastane ekleme işlemleri için kullanılmaktadır</p>
    </div>
</a>

<a asp-controller="Admin" asp-action="GetPoliklinikEkle" class="d-flex my-3 align-items-center text-decoration-none rounded rounded-5 bg-info text-white">
    <img class="mx-3" src="~/img/.png" alt="Saü Hastane" width="60px" />
    <div class="py-2">
        <h5>Poliklinik Ekle</h5>
        <p>Bu bölüm Poliklinik ekleme işlemleri için kullanılmaktadır</p>
    </div>
</a>
