<a asp-controller="Dashboard" asp-action="AileHekimiRandevuAl" class="d-flex my-3 align-items-center text-decoration-none rounded rounded-5 bg-info text-white">
    <img class="mx-3" src="~/img/doctor.png" alt="Saü Hastane" width="60px" />
    <div class="py-2">
        <h5>Aile Hekimi Randevusu Al</h5>
        <p>Bağlı olduğunuz Aile Hekiminden rendevu alabilirisiniz.</p>
    </div>
</a>
<a asp-controller="Dashboard" asp-action="HastaneRandevuAl"  class="d-flex my-3 align-items-center text-decoration-none rounded rounded-5 bg-danger text-white">
    <img class="mx-3" src="~/img/medicine.png" alt="Saü Hastane" width="60px" />
    <div class="py-2">
        <h5>Hastane Randevusu Al</h5>
        <p>Hastanede bulunan kliniklerden randevu alabilirsiniz.</p>
    </div>
</a>