<div class="container px-3 py-2 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a asp-controller="Dashboard" asp-action="RandevuBilgileri" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none">
                <img class="me-3" src="~/img/user.png" alt="Saü Hastane" width="50px" />
                @ViewBag.KullaniciAdi @ViewBag.KullaniciSoyadi
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a asp-controller="Dashboard" asp-action="HesapBilgileri" class="nav-link">
                        <img src="~/img/profile.png" class="bi d-block mx-auto mb-1" width="24" height="24"/>
                        Hesap Bilgileri
                    </a>
                </li>
                <li>
                    <a asp-controller="Dashboard" asp-action="RandevuBilgileri" class="nav-link">
                        <img src="~/img/medical-records.png" class="bi d-block mx-auto mb-1" width="24" height="24" />
                        Randevu Bilgileri
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link ">
                        <img src="~/img/technical-support.png" class="bi d-block mx-auto mb-1" width="24" height="24" />
                        Ayarlar
                    </a>
                </li>
                <li>
                    <a asp-controller="Authentication" asp-action="CikisYap" class="nav-link ">
                        <img src="~/img/log-out.png" class="bi d-block mx-auto mb-1" width="24" height="24" />
                        Çıkış Yap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>