<!DOCTYPE html>
<html lang="en">
@{ await Html.RenderPartialAsync("_Head");}
<body class="my-0">
    @{
        switch ("Admin")
        {
            case "Admin":
                await Html.RenderPartialAsync("_AdminHeader");
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @{
                                await Html.RenderPartialAsync("_AdminSidebar");
                            }
                        </div>
                        <div class="col-md-8" style="height:600px">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                break;
            case "Hasta":
                await Html.RenderPartialAsync("_HastaHeader");
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @{
                                await Html.RenderPartialAsync("_HastaSidebar");
                            }
                        </div>
                        <div class="col-md-8" style="height:600px">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                break;
        }
    }
 
    @{ await Html.RenderPartialAsync("_Footer");}
    @{ await Html.RenderPartialAsync("_Scripts");}
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

