@{ViewData["Title"] = "Ana Sayfa";
    ViewData["Css"] = "~/css/AnaSayfa.css";
}
    <div class="container my-4 text-center">
        <img id="hastaneResmi" class="img-fluid rounded-3" src="~/img/hastane.jpg" alt="SAU Hastanesi Resmi">

        <div class="overlay-text">
            <h1 class="display-4"> @_localization.Getkey("Welcome").Value</h1>
            <p class="lead"><p>Sürdürülebilir bir yaşam için ilk adım sağlık.</p></p>
        </div>
    </div>

