
    <div>
        <img id="hastaneResmi" src="~/img/hastane.jpg" alt="SAU Hastanesi Resmi">
    </div>

    <div id="hosgeldinizMetni">
        <h2>SAU Hastanesine Hoş Geldiniz</h2>
    </div>

    <div id="mottoMetni">
        <p>Sürdürülebilir bir yaşam için ilk adım sağlık.</p>
    </div>


