@{ ViewData["Title"] = "İletişim";
    ViewData["Css"] = "~/css/Iletisim.css";
}

<div class="container my-5">
    <section class="iletisim-bilgileri text-center">
        <h2 class="text-center">İletişim Bilgileri</h2>
        <address>
            Sakarya Şehir Hastanesi<br>
            Adapazarı, Sakarya<br>
            Türkiye
        </address>
        <p>
            <strong>Telefon:</strong> +90 264 123 45 67<br>
            <strong>Faks:</strong> +90 264 789 01 23<br>
            <strong>E-posta:</strong> info@sakaryasehirhastanesi.gov.tr
        </p>
    </section>

    <section class="iletisim-formu mt-5">
        <h2 class="text-center">İletişim Formu</h2>
        <form action="mailto:info@sakaryasehirhastanesi.gov.tr" method="post">
            <div class="form-group text-center my-2 mx-5">
                <label for="isim">Adınız Soyadınız</label>
                <input type="text" class="form-control" id="isim" name="isim" placeholder="Adınız Soyadınız">
            </div>
            <div class="form-group text-center my-2 mx-5">
                <label for="eposta">E-posta Adresiniz</label>
                <input type="email" class="form-control" id="eposta" name="eposta" placeholder="E-posta Adresiniz">
            </div>
            <div class="form-group text-center my-2 mx-5">
                <label for="konu">Konu</label>
                <input type="text" class="form-control" id="konu" name="konu" placeholder="Konu">
            </div>
            <div class="form-group text-center my-2 mx-5">
                <label for="mesaj">Mesajınız</label>
                <textarea class="form-control" id="mesaj" name="mesaj" placeholder="Mesajınız"></textarea>
            </div>
            <div class="form-group text-center my-2 mx-5">
                <input type="submit" class="btn btn-primary btn-block text-center" value="Gönder"></input>              
            </div>
        </form>
    </section>
</div>