@model HastaneRandevuSistemi.Models.Kullanici
@{
    ViewData["Title"] = "Kayıt Başarılı";
    ViewData["Css"] = "~/css/BasariliKayit.css";
    string hitap;
    if (Model.CinsiyetID == 1)
    {
        hitap = "Bey";
    }
    else if (Model.CinsiyetID == 2)
    {
        hitap = "Hanım";
    }
    else
        hitap = "";
}

<div class="message-container">
    <img src="success-icon.png" alt="Success Icon" class="icon">
    <div class="success-message">@Model.KullaniciAdi @hitap kaydınız başarılı bir şekilde oluşturulmuştur</div>
</div>