@model HastaneRandevuSistemi.Models.Kullanici
@{
    ViewData["Title"] = "Giriş Yap";
    ViewData["Css"] = "~/css/GirisYap.css";
}
@{
    if (ViewBag.HataMsg!="")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.HataMsg
        </div>
    }
} 

<div class="wrapper">
    <div class="logo">
        <img src="~/img/hospital-building.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Saü Hastane
    </div>
    <form class="p-3 mt-3" method="post" asp-action="GirisYap" asp-controller="Authentication">
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciEmail" type="text" placeholder="E-Mail">
            <span asp-validation-for="KullaniciEmail" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciSifre" type="password" placeholder="Şifre">
            <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
        </div>
        <input type="submit" class="btn mt-3" value="Giriş Yap">
    </form>
    <div class="text-center fs-6">
        <a asp-controller="Authentication" asp-action="KayitOl">Kayıt Ol</a>
    </div>
</div>