<div class="wrapper">
    <div class="logo">
        <img src="~/img/hospital-building.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Saü Hastane
    </div>
    <form class="p-3 mt-3" method="post">
        <div class="form-field d-flex align-items-center">
            <input type="text" placeholder="E-Mail">
        </div>
        <div class="form-field d-flex align-items-center">
            <input type="password" placeholder="Şifre">
        </div>
        <button class="btn mt-3">Giriş Yap</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Şifremi Unuttum?</a> or <a href="#">Kayıt Ol</a>
    </div>
</div>