@model HastaneRandevuSistemi.Models.Kullanici
@{
    ViewData["Title"] = "Kayıt Ol";
    ViewData["Css"] = "~/css/KayitOl.css";
}
@{
    if (ViewBag.HataMsg != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.HataMsg
        </div>
    }
}
<div class="wrapper">
    <div class="logo">
        <img src="~/img/hospital-building.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Saü Hastane
    </div>
    <form class="p-3 mt-3" method="post" asp-action="KayitOl" asp-controller="Authentication">
        <div class="form-field d-flex align-items-center">
            <input type="text" asp-for="KullaniciAdi" placeholder="Adınız">
            <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            <input type="text" asp-for="KullaniciSoyadi" placeholder="Soyadınız">
            <span asp-validation-for="KullaniciSoyadi" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <label asp-for="CinsiyetID"></label>
            <input class="ms-5 me-2" type="radio" asp-for="CinsiyetID" value="1" id="Erkek" style="width:20px" />
            <label for="Erkek">
                Erkek
            </label>
            <input class="mx-2" type="radio" asp-for="CinsiyetID" value="2" id="Kadın" style="width:20px" />
            <label for="Kadın">
                Kadın
            </label>
            <span asp-validation-for="CinsiyetID" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <label asp-for="KullaniciDt">Doğum Tarihi</label>
            <input asp-for="KullaniciDt" type="date">
            <span asp-validation-for="KullaniciDt" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciEmail" type="text" placeholder="E-Mail">
            <span asp-validation-for="KullaniciEmail" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciTelNo" type="text" class="form-control" placeholder="Telefon Numarası">
            <span asp-validation-for="KullaniciTelNo" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciSifre" type="password" placeholder="Şifre">
            <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
        </div>
        <input type="submit" class="btn mt-3" value="Kayıt Ol">
    </form>
    <div class="text-center fs-6">
        <a asp-controller="Authentication" asp-action="GirisYap">Giriş Yap</a>
    </div>
</div>