@model HastaneRandevuSistemi.Models.Kullanici
@{
    ViewData["Title"] = "Kayıt Ol";
    ViewData["Css"] = "~/css/KayitOl.css";
}
<div class="wrapper">
    <div class="logo">
        <img src="~/img/hospital-building.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Saü Hastane
    </div>
    <form class="p-3 mt-3" method="post">
        <div class="form-field d-flex align-items-center">
            <input type="text" asp-for="KullaniciAdi" placeholder="Adınız">
            <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            <input type="text" asp-for="KullaniciSoyadi" placeholder="Soyadınız">
            <span asp-validation-for="KullaniciSoyadi" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <label class="text-secondary" for="dogum_tarihi">Doğum Tarihi</label>
            <table class="mx-4 my-2">
                <tbody>
                    <tr>
                        <td class="text-center text-secondary">Gün</td>
                        <td class="text-center text-secondary">Ay</td>
                        <td class="text-center text-secondary">Yıl</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" asp-for="KullanicidtGun" class="form-control border border-light rounded" value="" min="1" max="31">
                            <span asp-validation-for="KullanicidtGun" class="text-danger"></span>
                        </td>
                        <td>
                            <input type="number" asp-for="KullanicidtAy" class="form-control border border-light rounded" value="" min="1" max="12">
                            <span asp-validation-for="KullanicidtAy" class="text-danger"></span>
                        </td>
                        <td>
                            <input type="number" asp-for="KullanicidtYil" class="form-control border border-light rounded" value="" min="1900" max="2023">
                            <span asp-validation-for="KullanicidtYil" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-field d-flex align-items-center">
            <label asp-for="CinsiyetID"></label>
            <input class="ms-5 me-2" type="radio" asp-for="CinsiyetID" value="Erkek" id="Erkek" style="width:20px"/>
            <label for="Erkek">
                Erkek
            </label>
            <input class="mx-2" type="radio" asp-for="CinsiyetID" value="Kadın" id="Kadın" style="width:20px"/>
            <label for="Kadın">
                Kadın
            </label>
            <span asp-validation-for="CinsiyetID" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciEmail" type="text" placeholder="E-Mail">
            <span asp-validation-for="KullaniciEmail" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciTelNo" type="text" class="form-control" placeholder="Telefon Numarası">
            <span asp-validation-for="KullaniciTelNo" class="text-danger"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="KullaniciSifre" type="password" placeholder="Şifre">
            <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
        </div>
        <input type="submit" class="btn mt-3" value="Kayıt Ol">
    </form>
    <div class="text-center fs-6">
        <a href="#">Giriş Yap</a>
    </div>
</div>